#mensagem-erro {
	font-size: 20px;
	color: red;
}

.adicionar-palavra {
	display: flex;
	flex-direction: column;
	gap: 200px;
}

.texto {
	padding: 20px;
	border: none;
	font-size: 25px;
	font-family: 'Fredericka the Great', cursive;
	color: white;
	background: transparent;
	outline: none;
}