@media screen and (max-width: 480px){


	main {
		width: auto;
		height: auto;
	}

	.titulo-principal {
		margin: 1em;
	}

	.adicionar-palavra{
		align-items: center;
	}

	.area-texto{
		display: flex;
    	flex-direction: column;
	}

	.main-jogo{
		width: 100%;

	}

	.canvas, canvas {
		width: 100%;
	}

	.container-letras {
		top: 10px;
		margin:1em;
		position: absolute;
		top: 390px;

	}

	.letras{
		width: 30px;
		font-size: 20px;
	}

	.display-letras-erradas {
		top: 10px;
		font-size: 20px;
		width: 100%;
	}

	.input {
		top: 5px;
	}

	.buttons-pag-game{
		top: 10px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    gap: 30px;
	    width: 360px;

	}

	.aviso {
		font-size: 15px;
	}

}



	
	
