@media screen and (max-width: 480px){


	main {
		width: auto;
		height: auto;
	}

	.titulo-principal {
		margin: 1em;
		font-size: 40px;
	}

	.button {
		font-size: 25px;
	}


	/* Add word page */

	.adicionar-palavra{
		align-items: center;
	}

	.area-texto{
		display: flex;
    	flex-direction: column;
	}

	#mensagem-erro {
		margin: 10px;
	}

	/* Game page */

	.main-jogo{
		width: 100%;

	}

	.regras {
		font-size: 30px;
	}


	canvas {

		width: 100%;
	}


	.container-letras {
		margin:1em;
		position: absolute;
		top: 480px;
		font-size: 20px;

	}

	.letras{
		width: 30px;
		font-size: 25px;
	}

	.display-letras-erradas {
		bottom: 10px;
		font-size: 25px;
		width: 100%;
	}

	.input {
		bottom: 200px;
		font-size: 16px;
	}

	.buttons-pag-game{
		top: 50px;
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    width: 360px;
	    gap: 10px;
	}

	.aviso {
		font-size: 18px;
	}

}



	
	
